@import "tailwindcss";

@theme {
  --color-background: #ffffff;

  --color-titles: 22577A;
  --color-subtext: green;
  --color-text: orange;

  /*
  blue 1: 22577A
  blue 2: 38A3A5
  mid: 57CC99
  green 1 : 80ED99
  green 2: C7F9CC
  */
}

@layer base{
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Inter", sans-serif;
  }

  .font-serif {
    font-family: "Playfair Display", serif;
    
  }
}