@import "tailwindcss";

@theme {
  --color-background: #ffffff;

  --color-title: #22577A;
  --color-subtitle: #38A3A5;
  --color-text: black;

  --color-green-mid: #57CC99;
  --color-green-light: #80ED99;
  --color-green-dark: #C7F9CC;

  --color-button: #C7F9CC;

  --color-green-bg: #98FB98;

  /*
  blue 1: 22577A
  blue 2: 38A3A5
  mid: 57CC99
  green 1 : 80ED99
  green 2: C7F9CC
  */
}

@layer base{
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Inter", sans-serif;
  }

  .font-serif {
    font-family: "Playfair Display", serif;
    
  }

  .roboto-flex-body {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-green-mid) 50%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-green-mid) 100%, transparent);
  }

  .glass-2 {
    background-color: color-mix(in srgb, var(--color-green-mid) 50%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-green-mid) 100%, transparent);
  }
}