@import "tailwindcss";

@theme {
  --color-background: #ffffff;

  --color-title: #22577A;
  --color-subtitle: #38A3A5;
  --color-text: black;

  --color-button: #C7F9CC;

  /*
  blue 1: 22577A
  blue 2: 38A3A5
  mid: 57CC99
  green 1 : 80ED99
  green 2: C7F9CC
  */
}

@layer base{
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Inter", sans-serif;
  }

  .font-serif {
    font-family: "Playfair Display", serif;
    
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-button) 50%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-button) 100%, transparent);
  }
}